<template id='side-menu-template'>
  <input type='checkbox' id='menu__checkbox' />
  <label class='hamburger' for='menu__checkbox'>
    <svg class='hamburger__icon' xmlns='https://www.w3.org/2000/svg' viewBox='0 0 24 24'>
      <path class='bar' d='M4,8h12c1,0,2,0,2,-2s-1,-2,-2,-2h-12c-1,0,-2,0,-2,2s1,2,2,2z' />
      <path class='bar' d='M0,10h4c-1,0,-2,0,-2,2s1,2,2,2h16c1,0,2,0,2,-2s-1,-2,-2,-2z' />
      <path class='bar' d='M4,20h12c1,0,2,0,2,-2s-1,-2,-2,-2h-12c-1,0,-2,0,-2,2s1,2,2,2z' />
    </svg>
  </label>

  <section class='menu__links'>
  </section>

  <style>
    .menu__links {
      position: fixed;
      top: 0;
      left: -24rem;

      width: 16rem;
      height: calc(100% - 9rem);
      padding: 9rem 4rem 0;

      display: flex;
      flex-direction: column;
      align-items: center;

      background-color: rgba(254, 215, 102, 0.8);

      transition: left 0.2s;
      z-index: 998;

    }

    .menu__links>button {
      width: 10rem;
      padding: 0.75rem 0;
      margin-bottom: 5vh;

      color: var(--dark-text);
      background-color: transparent;

      font-weight: bold;
      font-size: 1.3rem;
      font-family: Montserrat, var(--default-fonts);
      text-decoration: none;
      text-align: center;

      border: solid 2px #222;

      transition: background-color 0.2s, color 0.2s;
      will-change: background-color, color;
      cursor: pointer;
    }

    .menu__links>button:hover {
      background-color: #222;
      color: var(--theme-primary);
    }

    .menu__links>button:focus {
      outline: none;
    }

    #menu__checkbox {
      display: none;
    }

    #menu__checkbox:checked~.menu__links {
      left: 0;
    }

    .hamburger {
      position: fixed;
      top: 1rem;
      left: 1rem;

      width: 3rem;
      height: 3rem;

      display: block;

      transition: left 0.2s, transform 0.2s;
      cursor: pointer;
      z-index: 999;
    }

    .hamburger__icon {
      width: 100%;
      height: 100%;

      cursor: pointer;
    }

    .bar {
      fill: white;

      transform: translate(0);
      transform-origin: center;

      transition: fill 0.2s, transform 0.4s cubic-bezier(.45, .98, .38, 1.52);
    }

    .bar:nth-child(2) {
      transition-delay: 0s, 0.05s;
    }

    .bar:last-child {
      transition-delay: 0s, 0.1s;
    }

    #menu__checkbox:checked+.hamburger {
      left: 16rem;
    }

    #menu__checkbox:checked+.hamburger:hover .bar {
      fill: #444 !important;
    }

    #menu__checkbox:checked+.hamburger .bar {
      fill: #222 !important;
    }

    .hamburger__icon:active>.bar,
    #menu__checkbox:checked+.hamburger .bar {
      fill: #ccc;
    }

    .hamburger__icon:active>.bar:first-child,
    #menu__checkbox:checked+.hamburger .bar:first-child,
    .hamburger__icon:active>.bar:last-child,
    #menu__checkbox:checked+.hamburger .bar:last-child {
      transform: translate(5px);
    }

    .hamburger__icon:active>.bar:nth-child(2),
    #menu__checkbox:checked+.hamburger .bar:nth-child(2) {
      transform: translate(1px);
    }

    @media (hover: hover) {
      .hamburger__icon:hover>.bar {
        fill: #ccc;
      }

      .hamburger__icon:hover>.bar:first-child,
      .hamburger__icon:hover>.bar:last-child {
        transform: translate(5px);
      }

      .hamburger__icon:hover>.bar:nth-child(2) {
        transform: translate(1px);
      }
    }

    @media (max-device-width: 500px) {
      .menu__links {
        left: -100vw;

        width: 100vw;
        height: 100vh;
        padding: 0;

        justify-content: center;
      }

      #menu__checkbox:checked+.hamburger {
        left: 50%;
        transform: translateX(calc(-50% - 10px)) scaleX(1.25);
      }

      /* #menu__checkbox:checked+.hamburger::after {
        content: 'close';
        transform: scale(0.8);
      } */

      .hamburger__icon:active>.bar:first-child,
      #menu__checkbox:checked+.hamburger .bar:first-child,
      .hamburger__icon:active>.bar:last-child,
      #menu__checkbox:checked+.hamburger .bar:last-child {
        transform: translate(2px);
      }

      .hamburger__icon:active>.bar:nth-child(2),
      #menu__checkbox:checked+.hamburger .bar:nth-child(2) {
        transform: translate(0);
      }

      @media (hover: hover) {

        .hamburger__icon:hover>.bar:first-child,
        .hamburger__icon:hover>.bar:last-child {
          transform: translate(2px);
        }

        .hamburger__icon:hover>.bar:nth-child(2) {
          transform: translate(0);
        }
      }
    }
  </style>
</template>

<script>

  class SideMenu extends HTMLElement {
    constructor() {
      super()

      const template = document.currentScript.ownerDocument.getElementById('side-menu-template')
      const shadowRoot = this.attachShadow({ mode: 'open' })
      shadowRoot.appendChild(template.content.cloneNode(true))
    }

    static get observedAttributes() {
      return ['links']
    }

    attributeChangedCallback(name, oldValue, newValue) {
      // since name is always 'links' (it's the only observed), no need to check
      this.drawLinks()
    }

    get links() {
      try {
        return JSON.parse(this.getAttribute('links'))
      } catch {
        return []
      }
    }

    drawLinks() {
      const linkContainer = this.shadowRoot.querySelector('.menu__links')
      linkContainer.innerHTML = ''

      const elements = this.links.forEach(name => {
        const button = document.createElement('button')
        button.textContent = name
        // TODO: hyphenate instead of removing spaces, requires change in css as well
        button.onclick = () => {
          const target = document.querySelector(`.${name.split(' ').join('').toLowerCase()}`)
          smoothScroll(target, 500)

          this.closeDrawer()
        }

        linkContainer.appendChild(button)
      })
    }

    closeDrawer() {
      this.shadowRoot.getElementById('menu__checkbox').checked = false
    }
  }

  customElements.define('side-menu', SideMenu, { extends: 'nav' })
</script>