<template id='menu-bar'>
  <nav class='menu'>
    <input type='checkbox' id='menu-checkbox' />
    <label class='hamburger'>
      <svg class='hamburger__icon' xmlns='https://www.w3.org/2000/svg' viewBox='0 0 24 24'>
        <path class='bar' d='M4,8h12c1,0,2,0,2,-2s-1,-2,-2,-2h-12c-1,0,-2,0,-2,2s1,2,2,2z' />
        <path class='bar' d='M0,10h4c-1,0,-2,0,-2,2s1,2,2,2h16c1,0,2,0,2,-2s-1,-2,-2,-2z' />
        <path class='bar' d='M4,20h12c1,0,2,0,2,-2s-1,-2,-2,-2h-12c-1,0,-2,0,-2,2s1,2,2,2z' />
      </svg>
    </label>

    <section class='links'>
      <template id='menu-link'>
        <a></a>
      </template>
    </section>
  </nav>

  <style>
  </style>
</template>