<style>
  slide-list:focus {
    outline: none;
  }

  slide-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: calc(100% - 8rem);
    max-width: 75rem;
    height: calc(30rem + 5vh);
    max-height: calc(100vh - 2rem);
    margin: 0 auto;
    padding: 0 4rem 4rem;
  }

  @media (max-width: 800px) {
    slide-list {
      max-width: calc(100% - 0.25rem);
      width: 25rem;
      height: 40rem;
      max-height: unset;
      padding-left: 0;
      padding-right: 0;
    }

    slide-list .flickity-button {
      display: none;
    }
  }

  slide-list .flickity-viewport {
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 100% !important;

    cursor: grab;
  }

  slide-list .flickity-viewport:active {
    cursor: grabbing;
  }

  slide-list .flickity-button {
    padding: 0;

    background-color: transparent !important;

    opacity: 0.5;
    transition: opacity 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  }

  slide-list .flickity-button:first-of-type {
    left: 0;
  }

  slide-list .flickity-button:nth-of-type(2) {
    right: 0;
  }

  slide-list .flickity-button .flickity-button-icon {
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

  }
  slide-list .flickity-button .flickity-button-icon > path {
    fill-rule: evenodd;
    fill: #222;
    transition: fill 0.25s ease-in-out;
  }

  slide-list .flickity-button:hover {
    opacity: 0.8;

  }
  slide-list .flickity-button:hover .flickity-button-icon > path {
    fill: var(--theme-primary);
  }

  slide-list .flickity-page-dots {
    bottom: 1.5rem;
  }

  slide-list .flickity-page-dots .dot {
    width: 1rem;
    height: 0.15rem;

    border-radius: 8px;

    transition: width 0.3s 0.05s ease-in-out, height 0.3s 0.05s ease-in-out,
      box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  slide-list:focus .flickity-page-dots .dot {
    width: 1.5rem;
    height: 0.45rem;

    border-radius: 12px;
  }

  slide-list:focus .flickity-page-dots .dot.is-selected {
    box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.25);
  }

</style>

<script>
  document.head.appendChild(document.currentScript.ownerDocument.querySelector('style'));

  class SlideList extends HTMLElement {
    constructor() {
      super()
    }

    connectedCallback() {
      const carousel = new Flickity(this, {
        prevNextButtons: true,
        pageDots: true,
        autoPlay: 5000,
        parallax: null,
        wrapAround: true,
        arrowShape: `
          M 50 0A 1 1 0 0 1 50 100A 1 1 0 0 1 50 0ZM51.13,23.39C53.30,25.55,53.30,29.05,51.14,31.22C48.50,33.87,44.47,37.89,41.83,40.54C40.38,41.99,41.41,44.46,43.45,44.46C51.43,44.46,69.81,44.46,77.79,44.46C80.85,44.46,83.33,46.94,83.33,50.00C83.33,51.11,83.33,48.89,83.33,50.00C83.33,53.06,80.85,55.54,77.79,55.54C69.81,55.54,51.43,55.54,43.46,55.54C41.41,55.54,40.39,58.02,41.83,59.46C44.48,62.11,48.50,66.12,51.15,68.77C53.31,70.93,53.31,74.44,51.14,76.59C50.34,77.39,51.88,75.86,51.08,76.65C48.91,78.81,45.40,78.80,43.24,76.63C37.92,71.31,25.90,59.25,20.58,53.92C18.42,51.75,18.42,48.25,20.58,46.08C25.90,40.75,37.92,28.69,43.24,23.36C45.40,21.19,48.91,21.19,51.08,23.34C51.88,24.13,50.33,22.60,51.13,23.39Z
        `
      })
    }
  }

  customElements.define('slide-list', SlideList)

</script>
