@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Questrial:400,700");
:root {
  --default-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --theme-primary: #fed766;
  --light-text: white;
  --dark-text: #222;
}

@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
  body > section {
    width: calc(99vw - 8rem);
    padding: 4.5rem calc(4rem +0.5vw);
  }
  .hire > .subtitle {
    text-align: center;
    margin-top: 0.5rem;
  }
  .hire > .subtitle::before {
    width: 0;
    margin: 0;
    border: none;
  }
  .hire form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.5fr 0.5fr 0.5fr 0.5fr 1.25fr 6rem;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 1.25fr 6rem;
    height: 34rem;
  }
  .hire form > * {
    grid-area: span 1 / span 1 !important;
  }
  .challenge-solution {
    --side-padding: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(100vw - calc(var(--side-padding) * 2));
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
  }
  .challenge-solution article {
    font-size: 1.35rem;
  }
  .challenge-solution article:first-child {
    margin-bottom: 3.5rem;
  }
  .challenge-solution article .title {
    text-align: center;
    font-size: 1.4em;
  }
  .contact {
    width: calc(100% - calc(5vw +1rem));
    padding-left: calc(2.5vw +0.5rem);
    padding-right: calc(2.5vw +0.5rem);
  }
  > .title {
    text-align: center !important;
  }
  .about article {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    width: calc(80% +2vw);
    margin: 0 auto 2.25rem !important;
  }
  .about article:nth-child(n) {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    width: calc(80% +2vw);
    margin: 0 auto 2.25rem !important;
  }
  .about article p {
    text-align: center !important;
  }
  .expertise__skills {
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
    height: 27rem;
    width: 27rem;
  }
}

.mywork {
  --side-padding: calc(5vw * 1.1);
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
  width: calc(100vw - calc(var(--side-padding) * 2));
}

.slides {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.slides .flickity-button {
  display: none;
}

.slides > div > div > div .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 45rem;
}

.slides > div > div > div .slide .slideItem:not(:last-child) {
  margin-bottom: 1rem;
}

.header > .image {
  position: absolute !important;
}

.header > .blur {
  position: absolute !important;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-color: #eee;
}

main {
  position: relative;
  overflow: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  max-height: 45rem;
  background-color: rgba(49, 61, 65, 0.6);
  background: #694d59;
  background: linear-gradient(145deg, #694d59 0, #4f678b 72%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header .logo {
  margin-bottom: 5rem;
}

.header__title {
  font-family: "Montserrat", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "sans-serif";
  color: #fff;
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.header__hire-button {
  margin-bottom: 9rem;
}

.header__learn-more {
  position: relative;
  margin: 0 0 -2vw;
  padding: 0;
  color: rgba(255, 255, 255, 0.702);
  background-color: transparent;
  font-size: 0.95rem;
  font-family: "Questrial", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "sans-serif";
  text-align: center;
  white-space: nowrap;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  will-change: color;
  cursor: pointer;
}

.header__learn-more svg {
  width: 0.95rem;
  height: 0.95rem;
  margin-top: 0.75rem;
  fill: rgba(255, 255, 255, 0.702);
  -webkit-animation: arrow-shake 1.75s ease-in-out infinite;
          animation: arrow-shake 1.75s ease-in-out infinite;
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.header__learn-more:hover {
  color: #fff;
}

.header__learn-more:hover svg {
  fill: #fff;
}

.header__learn-more:focus {
  color: #fff;
  outline: none;
}

.header__learn-more:focus svg {
  fill: #fff;
}

.header__learn-more:focus:not(:active)::after {
  width: 100%;
}

.header__learn-more::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #fff;
  border-radius: 14px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

body > section {
  width: calc(98vw - 14rem);
  padding: 4.5rem calc(7rem + 1vw);
  background-color: #fff;
}

.title {
  margin-bottom: 5rem;
  font-size: 2.25rem;
  font-family: "Montserrat", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "sans-serif";
}

.expertise {
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
}

.expertise__title {
  padding: 0.8rem 1rem;
  border: solid 4px #222;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.expertise__subtitle {
  font-family: "Montserrat", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "sans-serif";
  font-size: 1.85rem;
  margin-bottom: 2.5rem;
}

.expertise__skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template: 1fr 1fr/1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  width: 36rem;
  height: 18rem;
}

.mywork {
  background-color: #eee;
}

.mywork__title {
  text-align: right;
}

.hire {
  background-color: #222;
  color: #fff;
}

.hire__title {
  margin-bottom: 0;
}

.hire__subtitle {
  margin-bottom: 5rem;
  margin-top: 0;
  font-family: "Montserrat", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "sans-serif";
  font-weight: bold;
}

.hire__subtitle::before {
  content: "";
  width: 3rem;
  height: 3px;
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}

.hire form {
  display: -ms-grid;
  display: grid;
  height: 28rem;
  grid-row-gap: 2.5rem;
  grid-column-gap: 6rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 0.5fr 0.5fr 1.5fr 6rem;
      grid-template-rows: 0.5fr 0.5fr 1.5fr 6rem;
  max-width: 80rem;
  margin: 0 auto;
}

.hire form .float-input {
  grid-area: span 1;
}

.hire form .float-textarea {
  grid-area: span 1 / span 2;
}

.hire form button {
  font-size: 1.1rem;
  width: 21rem;
  height: 4rem;
  margin: auto auto 0;
  grid-area: span 1 / span 2;
  -webkit-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

.hire form button:hover {
  width: 23rem;
}

.about {
  padding-bottom: 10rem;
  position: relative;
}

.about__title {
  text-align: center;
}

.about article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  width: 38rem;
  max-width: 100%;
}

.about article:nth-of-type(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about article:nth-of-type(2) p {
  text-align: right;
}

.about article:nth-of-type(2n) {
  margin-left: auto;
  margin-right: 0;
}

.about article img {
  width: 9rem;
  min-width: 9rem;
  height: 9rem;
  min-height: 9rem;
  border-radius: 50%;
  margin: 0 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.about article img#senior1 {
  -o-object-position: 50% 5%;
     object-position: 50% 5%;
  -webkit-box-shadow: -1px -1px 9px 1px rgba(0, 0, 0, 0.28);
          box-shadow: -1px -1px 9px 1px rgba(0, 0, 0, 0.28);
}

.about article img#senior2 {
  -o-object-position: 68%;
     object-position: 68%;
  -webkit-box-shadow: -1px -1px 9px 1px rgba(0, 0, 0, 0.28);
          box-shadow: -1px -1px 9px 1px rgba(0, 0, 0, 0.28);
}

.about article p {
  font-family: "Georgia", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "sans-serif";
  font-size: 1.1rem;
  color: #444;
}

.about article p a[href] {
  font-weight: bold;
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "sans-serif";
  font-size: 1.05rem;
  white-space: nowrap;
  color: #1f77da;
  text-decoration: none;
}

.about article p a[href]:hover {
  text-decoration: underline;
}

.about article:not(:last-of-type) {
  margin-bottom: 1.75rem;
}

.about::after {
  content: "";
  -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 100%, 0 100%);
  width: 100%;
  height: 9rem;
  bottom: -1px;
  left: 0;
  background-color: #eee;
  position: absolute;
}

.challenge-solution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.challenge-solution article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 8rem);
  max-width: 30rem;
}

.challenge-solution article .title {
  color: var(--theme-primary);
  font-size: 1.125em;
  text-transform: uppercase;
  margin: 0 0 1.2rem;
}

.challenge-solution article p {
  font-family: "Georgia", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "sans-serif";
  font-size: 0.95em;
  margin: unset;
}

.contact {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__title {
  text-align: center;
}

.contact div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact div a[href] {
  cursor: pointer;
  width: calc(1.5rem +7.5vw);
  max-width: 5rem;
  height: calc(1.5rem +7.5vw);
  max-height: 5rem;
}

.contact div a[href]:focus {
  outline: none;
}

.contact div a[href]:focus svg path {
  stroke: var(--theme-primary);
  stroke-width: 2px;
}

.contact div a[href] svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contact div a[href] svg path {
  stroke-linecap: rounded;
  -webkit-transition: fill 0.25s ease-in-out, stroke-width 0.25s ease-in-out;
  transition: fill 0.25s ease-in-out, stroke-width 0.25s ease-in-out;
}

.contact div a[href]:hover svg path {
  fill: var(--theme-primary);
}

@media (min-width: 1535px) {
  .hire .title {
    margin-left: calc(50% - 40rem);
  }
  .hire .subtitle {
    margin-left: calc(50% - 40rem);
  }
}

@media (max-width: 450px) {
  .hire form button {
    width: 90%;
  }
  .hire form button:hover {
    width: 100%;
  }
}

@media (min-width: 801px) {
  .about > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 55rem;
    min-width: 35rem;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .about article:nth-of-type(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: auto;
    margin-left: 0 !important;
  }
  .about article:nth-of-type(2) p {
    text-align: left;
  }
}

@media (max-width: 500px) {
  .expertise__skills {
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr 1fr 1fr/1fr 1fr;
    height: 36rem;
    width: 18rem;
  }
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: calc(100% - 8rem);
  max-width: 75rem;
  padding: 0 4rem 4rem;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slides .flickity-button {
  padding: 0;
  opacity: 0.5;
  background-color: transparent !important;
  -webkit-transition: opacity 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
}

.slides .flickity-button:first-of-type {
  left: 0;
}

.slides .flickity-button:nth-of-type(2) {
  right: 0;
}

.slides .flickity-button .flickity-button-icon {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.slides .flickity-button .flickity-button-icon > path {
  fill-rule: evenodd;
  fill: #222;
  -webkit-transition: fill 0.25s ease-in-out;
  transition: fill 0.25s ease-in-out;
}

.slides .flickity-button:hover {
  opacity: 0.8;
}

.slides .flickity-button:hover .flickity-button-icon > path {
  fill: var(--theme-primary);
}

.slides .flickity-page-dots {
  bottom: 1.5rem;
}

.slides .flickity-page-dots .dot {
  -webkit-transition: width 0.3s 0.05s ease-in-out, height 0.3s 0.05s ease-in-out, opacity 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: width 0.3s 0.05s ease-in-out, height 0.3s 0.05s ease-in-out, opacity 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: width 0.3s 0.05s ease-in-out, height 0.3s 0.05s ease-in-out, box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: width 0.3s 0.05s ease-in-out, height 0.3s 0.05s ease-in-out, box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  width: 1rem;
  height: 0.15rem;
  border-radius: 8px;
}

.slides > div {
  width: 100%;
}

.slides > div > div {
  width: 100%;
}

.slides > div > div > div {
  width: 100%;
  margin-right: 2rem;
}

.slides > div > div > div .slide {
  width: 100%;
  height: calc(30rem +5vh);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
  -ms-grid-columns: 1fr 1fr;
      grid-template: repeat(5, 1fr)/1fr 1fr;
  grid-gap: 1rem;
  padding: 0;
  background-color: transparent;
}

.slides > div > div > div .slide .slideItem {
  grid-column: span 1;
  grid-row: span 2;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.slides > div > div > div .slide .slideItem .slideImage {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

.slides > div > div > div .slide .slideItem .slideContent {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  --slide-padding: 1rem;
  width: calc(100% - calc(var(--slide-padding) * 2));
  height: calc(100% - calc(var(--slide-padding) * 2));
  padding: var(--slide-padding);
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.slides > div > div > div .slide .slideItem .slideContent p {
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "sans-serif";
  color: #fafafa;
  margin: 0;
  max-width: 35rem;
}

.slides > div > div > div .slide .slideItem .slideContent a {
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "sans-serif";
  text-decoration: none;
  color: #fafafa;
  border: solid 1px var(--theme-primary);
  border-radius: 2px;
  padding: 0.35rem 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.slides > div > div > div .slide .slideItem .slideContent a:hover {
  color: #222;
  background-color: var(--theme-primary);
  -webkit-transition: background-color 0.175s, color 0.175s;
  transition: background-color 0.175s, color 0.175s;
}

.slides > div > div > div .slide .slideItem:last-child {
  grid-column: span 2;
  grid-row: span 3;
}

.slides > div > div > div .slide .slideItem:last-child .slideContent {
  --slide-padding: 1.5rem;
}

.slides > div > div > div .slide .slideItem:hover .slideImage {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.slides > div > div > div .slide .slideItem:hover .slideContent {
  opacity: 1;
}

.slides:focus .flickity-page-dots .dot {
  width: 1.5rem;
  height: 0.45rem;
  border-radius: 12px;
}

.slides:focus .flickity-page-dots .dot.is-selected {
  -webkit-box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.25);
}

@media (min-width: 1024px) {
  .slides > div > div > div .slide {
    height: 45rem;
  }
}

footer {
  background: #666;
  text-align: center;
  font-family: "Helvetica", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "sans-serif";
  color: #fafafa;
  padding: 0.6rem 0;
}

footer p {
  margin: 0;
  font-size: 1.05rem;
}

body::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #e6ecf8;
  background-color: white;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #293347;
  outline: 1px solid #7f7f7f;
}

@-webkit-keyframes arrow-shake {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0.45rem);
            transform: translateY(0.45rem);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes arrow-shake {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0.45rem);
            transform: translateY(0.45rem);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.logo {
  width: 5rem;
  height: 5rem;
}
/*# sourceMappingURL=main.css.map */