@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Questrial:400,700");

:root {
  --default-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --theme-primary: #fed766;
  --light-text: white;
  --dark-text: #222;
}

.mywork {
  --side-padding: calc(5vw * 1.1);

  width: calc(100vw - calc(var(--side-padding) * 2));
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);

  background-color: #eee;

  &__title {
    text-align: right;
    margin-right: calc(calc(7rem + 1vw) - var(--side-padding));
  }

  @media (max-width: 800px) {
    --side-padding: 0;

    &__title {
      text-align: center !important;
      margin-right: 0;
    }
  }
}

.header {
  > .image {
    position: absolute !important;
  }

  > .blur {
    position: absolute !important;
  }
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-color: #eee;
}

main {
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-height: 45rem;
  background-color: rgba(49, 61, 65, 0.6);
  background: #694d59;
  background: linear-gradient(145deg, #694d59 0, #4f678b 72%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .logo {
    margin-bottom: 5rem;
  }

  &__title {
    font-family: "Montserrat", var(--default-fonts);
    color: #fff;
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  &__hire-button {
    margin-bottom: 9rem;
  }

  &__learn-more {
    position: relative;

    margin: 0 0 -2vw;
    padding: 0;

    color: rgba(255, 255, 255, 0.702);
    background-color: transparent;

    font-size: 0.95rem;
    font-family: "Questrial", var(--default-fonts);
    text-align: center;
    white-space: nowrap;

    border: none;

    transition: color 0.2s linear;
    will-change: color;

    user-select: none;
    cursor: pointer;

    svg {
      width: 0.95rem;
      height: 0.95rem;
      margin-top: 0.75rem;

      fill: rgba(255, 255, 255, 0.702);
      transition: fill 0.2s linear;

      animation: arrow-shake 1.75s ease-in-out infinite;
    }

    &:active {
      color: #fff;

      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

      svg {
        fill: #fff;
      }
    }

    @media (hover: hover) {
      &:hover {
        color: #fff;

        svg {
          fill: #fff;
        }
      }
    }

    &:focus {
      color: #fff;
      outline: none;

      svg {
        fill: #fff;
      }

      &:not(:active)::after {
        width: 100%;
      }
    }
  }

  &__learn-more::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #fff;
    border-radius: 14px;
    transform: translateX(-50%);
    transition: width 0.35s ease;
  }
}

body > section {
  width: calc(98vw - 14rem);
  padding: 4.5rem calc(7rem + 1vw);
  background-color: #fff;
}

.title {
  margin-bottom: 5rem;
  font-size: 2.25rem;
  font-family: "Montserrat", var(--default-fonts);
}

.expertise {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;

  &__title {
    padding: 0.8rem 1rem;
    border: solid 4px #222;
    width: fit-content;
  }

  &__subtitle {
    margin-bottom: 0.1rem;
    font-family: "Montserrat", var(--default-fonts);
    font-size: 1.85rem;
    text-align: center;
  }

  &__hint {
    margin-top: 0;
    margin-bottom: 2.5rem;
    font-family: Roboto, var(--default-fonts);
    font-size: 0.85rem;
  }

  &__skills {
    --card-width: 9rem;
    --card-height: 11rem;

    --column-count: 4;
    --row-count: 2;

    display: grid;
    grid-template: repeat(var(--row-count), var(--card-height)) / repeat(
        var(--column-count),
        var(--card-width)
      );
    grid-gap: 1rem;

    // width and height of each card is 9rem
    // extra 2rem on height is for `name`
    // another 1rem for gap

    width: calc(
      calc(var(--card-width) * var(--column-count)) +
        calc(1rem * calc(var(--column-count) - 1))
    );
    height: calc(
      calc(var(--card-height) * var(--row-count)) +
        calc(1rem * calc(var(--row-count) - 1))
    );
    margin-bottom: 1.5rem;
  }

  &__flip-button {
    opacity: 0.75;

    &:active {
      opacity: 1;
    }

    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }
  }
}

.hire {
  background-color: #222;
  color: #fff;

  &__title {
    margin-bottom: 0;
  }

  &__subtitle {
    margin-bottom: 5rem;
    margin-top: 0;

    font-family: "Montserrat", var(--default-fonts);
    font-weight: bold;
  }

  &__subtitle::before {
    content: "";

    display: inline-block;
    vertical-align: middle;

    width: 3rem;
    height: 3px;
    margin-right: 1rem;

    background: #fff;

    border-radius: 4px;
  }

  form {
    display: grid;
    grid-row-gap: 2.5rem;
    grid-column-gap: 6rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1.5fr 6rem;

    max-width: 80rem;
    height: 28rem;
    margin: 0 auto;

    .float-input {
      grid-area: span 1;
    }

    .float-textarea {
      grid-area: span 1 / span 2;
    }

    button {
      grid-area: span 1 / span 2;

      width: 21rem;
      height: 4rem;
      margin: auto auto 0;

      font-size: 1.1rem;
      transition: width 0.35s ease;

      &:hover {
        width: 23rem;
      }
    }
  }

  @media (min-width: 1535px) {
    &__title {
      margin-left: calc(50% - 40rem);
    }

    &__subtitle {
      margin-left: calc(50% - 40rem);
    }
  }

  @media (max-width: 450px) {
    form button {
      width: 90%;

      &:hover {
        width: 100%;
      }
    }
  }
}

.about {
  padding-bottom: 10rem;
  position: relative;

  &__title {
    text-align: center;
  }

  article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 38rem;
    max-width: 100%;
    margin-right: auto;

    &:nth-of-type(2) {
      flex-direction: row-reverse;

      p {
        text-align: right;
      }
    }

    &:nth-of-type(2n) {
      margin-left: auto;
      margin-right: 0;
    }

    img {
      width: 9rem;
      min-width: 9rem;
      height: 9rem;
      min-height: 9rem;
      margin: 0 2rem;

      border-radius: 50%;

      object-fit: cover;

      &#senior1 {
        object-position: 50% 5%;
        box-shadow: -1px -1px 9px 1px rgba(0, 0, 0, 0.28);
      }

      &#senior2 {
        object-position: 68%;
        box-shadow: -1px -1px 9px 1px rgba(0, 0, 0, 0.28);
      }
    }

    p {
      color: #444;

      font-size: 1.1rem;
      font-family: "Georgia", var(--default-fonts);

      a[href] {
        color: #1f77da;

        font-size: 1.05rem;
        font-weight: bold;
        font-family: var(--default-fonts);
        text-decoration: none;
        white-space: nowrap;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 1.75rem;
    }
  }
}

.about::after {
  content: "";

  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 9rem;

  background-color: #eee;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.challenge-solution {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding-top: 5rem;
  padding-bottom: 5rem;

  article {
    display: flex;
    flex-direction: column;

    width: 30rem;
    max-width: calc(50% - 1rem);

    @media (max-width: 800px) {
      max-width: 100%;
    }

    .title {
      margin: 0 0 1.2rem;

      color: var(--theme-primary);

      font-size: 1.125em;
      text-transform: uppercase;
    }

    p {
      margin: unset;

      font-size: 0.95em;
      font-family: "Georgia", var(--default-fonts);
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;

  background-color: #fff;

  &__title {
    text-align: center;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    a[href] {
      width: calc(1.5rem + 7.5vw);
      max-width: 5rem;
      height: calc(1.5rem + 7.5vw);
      max-height: 5rem;

      cursor: pointer;

      &:focus {
        outline: none;

        svg path {
          stroke: var(--theme-primary);
          stroke-width: 2px;
        }
      }

      svg {
        width: 100%;
        height: 100%;

        object-fit: contain;

        path {
          stroke-linecap: rounded;
          transition: fill 0.25s ease-in-out, stroke-width 0.25s ease-in-out;
        }
      }

      &:hover svg path {
        fill: var(--theme-primary);
      }
    }
  }
}

@media (min-width: 801px) {
  .about > div {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-width: 35rem;
    max-width: 55rem;
    margin: 0 auto;
  }
}
@media (max-width: 900px) {
  .about article:nth-of-type(2) {
    flex-direction: row;

    margin-right: auto;
    margin-left: 0 !important;

    p {
      text-align: left;
    }
  }
}
@media (max-width: 800px) {
  html {
    font-size: 14px;
  }

  body > section {
    width: calc(99vw - 8rem);
    padding: 4.5rem calc(4rem + 0.5vw);
  }

  .hire {
    > {
      .subtitle {
        text-align: center;
        margin-top: 0.5rem;
      }

      .subtitle::before {
        width: 0;
        margin: 0;
        border: none;
      }
    }

    form {
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 1.25fr 6rem;
      height: 34rem;

      > * {
        grid-area: span 1 / span 1 !important;
      }
    }
  }

  .challenge-solution {
    --side-padding: 2rem;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: calc(100vw - calc(var(--side-padding) * 2));
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);

    article {
      font-size: 1.35rem;

      &:first-child {
        margin-bottom: 3.5rem;
      }

      .title {
        text-align: center;
        font-size: 1.4em;
      }
    }
  }

  .contact {
    width: calc(100% - calc(5vw + 1rem));
    padding-left: calc(2.5vw + 0.5rem);
    padding-right: calc(2.5vw + 0.5rem);
  }

  > .title {
    text-align: center !important;
  }

  .about article {
    flex-direction: column !important;

    width: calc(80% + 2vw);
    margin: 0 auto 2.25rem !important;

    &:nth-child(n) {
      flex-direction: column !important;

      width: calc(80% + 2vw);
      margin: 0 auto 2.25rem !important;
    }

    p {
      text-align: center !important;
    }
  }

  .expertise__skills {
    --column-count: 3;
    --row-count: 3;
  }
}

@media (max-width: 500px) {
  .expertise__skills {
    --column-count: 2;
    --row-count: 4;
  }
}

.slide {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-gap: 1rem;

  width: 100%;
  height: 100%;
  padding: 0;

  background-color: transparent;

  &:not(:last-child) {
    margin-right: 4rem;
  }
}

@media (min-width: 1024px) {
  slide-list {
    height: 45rem;
  }
}

@media (max-width: 800px) {
  .slide {
    grid-template: repeat(3, 1fr) / 1fr;

    > * {
      grid-area: span 1 / span 1 !important;
    }
  }
}

footer {
  padding: 0.6rem 0;

  color: #fafafa;
  background: #666;

  text-align: center;
  font-family: "Helvetica", var(--default-fonts);

  p {
    margin: 0;
    font-size: 1.05rem;
  }
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: white;
  border-left: 1px solid #e6ecf8;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #293347;
  outline: 1px solid #7f7f7f;
}

@keyframes arrow-shake {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0.45rem);
  }

  to {
    transform: translateY(0);
  }
}

.logo {
  width: 5rem;
  height: 5rem;
}
